<div class="lg:flex justify-center items-center">
    <h4 class="mr-60 font-extrabold text-gray-500 text-2xl p-2 ">Featured Product</h4>
    <p class="p-4 text-gray-400">
        Features are different from other terms like epic, user story, or requirements.
        <br/> 
        Let’s review the definitions of those terms to understand where product features fit.
        <br/> 
        Let’s review the terms to understand where product features fit.
        <br/>  
        Let’s review the definitions of those terms to features fit.   
    </p>
</div>
