<!-- First Fixed Nav (Top Bar) -->
<nav class="flex justify-between bg-cyan-500 fixed top-0 left-0 w-full z-50">
  <div class="text-gray-300 font-extrabold mx-3 my-1 text-sm">
    Developer : <span class="font-light text-sm">Mohamed Ashraf Ali</span>
  </div>
  <div class="text-gray-300 font-extrabold mx-3 my-1 text-sm">
    Email : <span class="font-light text-sm">mohamedashraf11ma11gmail.com</span>
  </div>
  <div class="text-gray-300 font-extrabold mx-3 my-1 text-sm">
    Phone : <span class="font-light text-sm">+201273148385</span>
  </div>
</nav>

<!-- Second Fixed Nav (Main Nav) -->
<nav class="flex justify-between items-center w-full fixed top-7 left-0 z-40 bg-white mt-7 shadow-lg lg:mt-0">
    <div class="flex">
        <div class="m-2 ml-8 mt-4 font-bold text-gray-500" routerLink="/products" >
            Home
        </div>
        <div class="m-2 mx-16 mt-4 font-bold text-gray-500" routerLink="/cart">
            Cart
        </div>
    </div>
    <div class="flex-grow text-center font-bold mr-40 text-cyan-500 text-3xl">
        Casular
    </div>
</nav>